section{
	margin-top: -2.7%;
}

#top{
	margin-left: 38%;
}
.logo{
	width: 35%;	
	margin-top: -13%;
	margin-left: 32%;
}

.menu{
  margin-top: -4.7%;
}

#drop{
	color:#ffaa00;
}
#nav{
  margin-left: 22%;
}

#atrib{	
	background:#ffaa00;
}
.gamb{
  margin-top: 1%;
}

input[type=text]:hover, textarea:hover{ 
  background: #ffffff; border:1px solid #ffaa00;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  width: 100%;   
}
 
button[type=submit]{
  background:#ffaa00;
  color:#ffffff;
}

.container{
  background-color: #000;
  height: 750%;
}
#container{
  background-color: #ac8;
  height: 1000px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
  text-decoration:none;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
  text-decoration:none;
}

.tipo1{
  margin-left: 17.5%;
  margin-top: 3%;
}
.img{
  margin-left: 1%;
}
.tipo{
  margin-top: 1%;
  margin-left: 17.5%;
}
.footer{
  background-color: rgba(42, 42, 42, 0.9);
  height: 200px;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


  /* footer social icons */
.social-network a.icoInstagram:hover {
  background-color: #9400D3;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoWhatsapp:hover {
  background-color:#32CD32;
}
.social-network a.icoBarcode:hover{
  background-color:#ffaa00;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
 .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a {
  background-color: #fff;   
}
.{
  margin-left: 500px;
}
/* /footer social icons */
.texto{
  color: #fff;
}
.social{
  margin-top: -10%;
  color: #fff;
}
.texto{
  margin-left: 9%;
}
.formas{
  color: #fff;
  margin-left:48%;
  margin-top: -7%;
}
.pg{
	margin-top:100px;
}
.botao {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border-radius: 0;
  transition: .2s;
}

.botao:hover, .botao:focus {
  border: 1px solid #ffaa00;
  background-color: #ffaa00;
  color: #333;
  text-decoration:none;
}
.fonte{
	color:#fff;
}
.fgroup{
	margin-left: 50px;
}
.enviar{
	margin-left: 285px;
	margin-top:-56px;
}