.box-area {
	margin-left: 4%;
}

.box {
	border: medium solid black;
	width: 250px;
	height: 250px;
	background-color: red;
	margin: 1% 1% 1% 1%;
}

.box>img {
	width: 246px;
	height: 246px;
}